<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Добавить товар</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <meta name="ctx" th:content="${#httpServletRequest.getContextPath()}"/>

    <style>
		.error {color:red}
    </style>
</head>

<html>

<body>

<div th:replace="~{navigation :: navi(AddProduct)}"/>
<div class="container">

    <table class="table table-hover">
        <thead>
        <tr>
            <th>Польззователь</th>
            <th>Комментарий</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="comm : ${comments}">
            <td th:text="${comm.user.userName}"/>
            <td th:text="${comm.text}"/>
        </tr>
        </tbody>
    </table>

    <form th:action="@{/shop/postComm}" th:object="${comment}" method="post">
        <input hidden type="text" th:field="*{user}" class="form-control" id="userId">
        <input hidden type="text" th:field="*{product}" class="form-control" id="productId">
        <label for="text">Rjvvtynfhbq</label>
        <input th:field="*{text}" type="text" class="form-control" id="text" placeholder="Введите ваш комментарий">
        <button type="submit" class="btn btn-primary" th:if="${allowed}">Сохранить</button>
    </form>
</div>
</body>
</html>